/*global css*/
.col-1{width:8.33%;float:left}
.col-2{width:16.66%;float:left}
.col-3 {width:25%; float:left}
.col-4{width:33.33%;float:right}
.col-5{width:41.66%;float:left}
.col-6{width:50%;float:left}
.col-7{width:58.33%;float:left}
.col-8{width:66.66%;float:left}
.col-9 {width:75%; float:left}
.col-10{width:83.33%;float:left}
.col-11{width:91.66%;float:left}
.col-12{width:100%;float:left}

/*header part css*/
header{
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	background: #fff;
}
header .header-menu ul li{
	list-style: none;
	display: inline-block;
	padding:5px 15px 5px 0px;
	margin: 5px;
}
header .header-menu ul li a{
	text-decoration: none;
	color: #001138;
	font-size:16px;
	font-family:arial;
	font-weight:600;
}
header .header-menu ul li a:hover{
	color: #19AE7A;
}
header .header-button .app{
	font-size: 15px;
	font-family: arial;
	font-weight:700;
	color:#00af7d;
	padding: 10px;
	border: 2px solid #00af7d;
	border-radius: 5px;
	margin: 5px 10px 5px 10px;
}
header .header-button .app:hover{
	padding: 11px;
	color: #001138;
}
header .header-button .sign-in{
	font-size: 15px;
	font-family: arial;
	font-weight:700;
	color:#001138;
	padding: 10px;
	border: 2px solid #1bafea;
	border-radius: 5px;
	margin: 5px 10px 5px 10px;
}
header .header-button .sign-in:hover{
	padding: 11px;
}
/*home page css*/
#Service-details{
	margin:100px 100px 0px 100px;

}
#Service-details .first-service-details h4{
	font-size: 24px;
	line-height:30px;
	color: #001649;
	text-align: center;
	font-family: arial;
	font-weight: 400;
}
#Service-details .first-service-details h1{
	text-align: center;
	font-size: 58px;
	font-family: arial;
	line-height: 38px;
	color: #001138;
	font-weight:600;
	letter-spacing:1px;
}
#service-icons .service-logos img{
	height: 100px;
	width:150px;
	padding:25px;
}
#speed-details .prize-box .mbps a{
	text-decoration: none;
	font-family: arial;
	color:#00af7d;
}
#speed-details .prize-box .mbps a:hover{
	color: #001138;
}
#speed-details .prize-box .mbps{
	margin: 0px 50px;
	padding: 30px;
	background: #fff;
	box-shadow: 2px 2px 2px 2px lightgray;
	border-radius: 5px;
}
#facilities-step{
	display: flex;
}
#facilities-step .home-internet-img {
	background:url("media/laptop.jpg");
	background-size: cover;
	position: center;
	height: 100%;
	width: 100%;
}
#residential-service .r-home-service{
	margin: 0px 50px;
	padding: 30px;
	background: #fff;
	box-shadow: 2px 2px 2px 2px lightgray;
	border-radius: 5px;
}